@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #08074e;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: rgb(208, 220, 243);
  padding: 1em;

  .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;

    span {
      color: var(--primary-color);
    }
  }
  nav {
    display: none;
  }
  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: 0.3em;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
  }

  .primary-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
  }

  .watch-video-cta {
    display: block;
    margin-top: 1em;

    img {
      margin-right: 0.5em;
    }
  }
}

.hero-img {
  //width: 40%;
  margin-top: 3em;
}
section.features-section {
  background: rgb(16, 29, 53);
  color: white;
  font-size: 1.5em;
}

ul.features_list {
  margin: 0em;
  padding-left: 0.1em;
  li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;

    &:before {
      content: "";
      left: -2em;
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("../images/bullet.svg");
      background-size: contain;
      margin-right: 0.5em;
    }
  }
}
.testimonials-section {
  background: rgb(208, 220, 243);

  li {
    background: rgb(16, 29, 53);
    text-align: center;
    color: white;
    padding: 2em 1em;
    width: 80%;
    margin: 3em auto 10em auto;
    border-radius: 2em;
    img {
      width: 20em;
      height: 20em;
      border: 5px solid #07063b;
      border-radius: 50%;
      margin-top: -6.5em;
    }
  }
}
h2 {
  font-size: 2em;
}
label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #08074e;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}
iframe {
  width: 100%;
  height: 300px;
}
nav.menu-btn {
  display: block;
}
nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0%;
  top: 0%;
  background: #07063b;
  height: 100vh;
  padding: 1em;
  ul.primary-nav {
    margin-top: 5em;
  }
  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
@media only screen and (min-width: 768px){
  
}